<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tecno Brasilia Cursos</title>
    <link rel="stylesheet" href="/assets/cursos.css">
</head>

<body>
    <section id="topo">
        <div class="container-section">
            <header>
                <section id="menu-navegacao">
                    <div class="nome-escola">
                        <img src="/images/cerebro.png" alt="">
                        <h2> Tecno Brasília</h2>
                    </div>
                    <nav class="navegacao">
                        <ul>
                            <li class="lista-paginas"><a href="home.html" class="nav-paginas">Ínicio</a></li>
                            <li class="lista-paginas"><a href="cursos.html" class="nav-paginas">Cursos</a></li>
                            <li class="lista-paginas"><a href="sobre.html" class="nav-paginas">Sobre</a></li>
                            <li class="lista-paginas"><a href="matricula.html" class="nav-paginas">Matrícula</a></li>
                            <li class="lista-paginas"><a href="area-aluno.html" class="nav-paginas">Área do Aluno</a>
                            </li>
                            <li class="lista-paginas"><a href="duvidas-contato.html"
                                    class="nav-paginas">Dúvidas/Contato</a></li>
                        </ul>
                    </nav>
                    <button class="btn-menu" id="btn-menu" arial-label="Abrir menu">
                        <span class="material-symbols-outlined">menu</span>
                    </button>
                    <div class="overlay" id="overlay"></div>
                    <nav class="navegacao-lateral" id="navegacao-lateral">

                        <ul>
                            <li class="lista-paginas-lateral"><a href="home.html" class="nav-paginas-lateral">Ínicio</a>
                            </li>
                            <li class="lista-paginas-lateral"><a href="cursos.html"
                                    class="nav-paginas-lateral">Cursos</a></li>
                            <li class="lista-paginas-lateral"><a href="sobre.html" class="nav-paginas-lateral">Sobre</a>
                            </li>
                            <li class="lista-paginas-lateral"><a href="matricula.html"
                                    class="nav-paginas-lateral">Matrícula</a></li>
                            <li class="lista-paginas-lateral"><a href="area-aluno.html" class="nav-paginas-lateral">Área
                                    do Aluno</a>
                            </li>
                            <li class="lista-paginas-lateral"><a href="duvidas-contato.html"
                                    class="nav-paginas-lateral">Dúvidas/Contato</a></li>
                        </ul>
                    </nav>

                </section>
            </header>
            <section class="pesquisa-cursos">
                <div class="pesquisa">
                    <div class="titulo">
                    <h2>Todos os Cursos</h2>
                    </div>
                    <form action="/pesquisa" method="GET" class="search-container">
                        <input type="search" name="q" class="search-input" placeholder="Buscar cursos.." required>
                        <select name="ordenarPort" id="ordenarPor" class="ordenar-pesquisa">
                            <option value="relevancia">Relevância</option>
                            <option value="preco">Preço</option>
                        </select>
                    </form>
                    
                </div>
            </section>
        </div>
    </section>
    <section id="filtros">
        <div class="filtros-cursos">

        </div>
    </section>
    <section id="cursos">

    </section>
    <section id="navegacao-lateral-cursos">

    </section>
</body>

</html>