@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins";
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-weight: 500;
}

:root {
  --texto-primario: #f8fafc;
  --texto-secundario: #94a3b8;

  --background-primario: #0b1120;
  --background-primario-1: #0a1325;
  --background-secundario: #000000;
  --background-terceario: #173c98;

  --elementos-verde-primario: #10b981;
  --elementos-verde-secundario: #23dfa1;
  --elementos-verde-terceario: #0cffaf;

  --elementos-roxo-primario: #6c2bff;
  --elementos-roxo-secundario: #8b5cf6;
  --elementos-roxo-terceario: #b08dff;

  --btn-primario-: #3b82f6;
  --btn-primario-hover: #4351eb;

  --btn-cta-primary: #455eff;
  --btn-cta-hover: #100787;
  --btn-cta-active: #0022ff;

  --link-primario: #1900ff;
  --link-hover: #130fffab;
  --link-active: #1114bc;

  --btn-disabled: #e9e9e9;
  --text-disabled: #8888889f;

  --line-section: #70707036;
}

body {
  background-color: var(--background-primario);
  height: 100%;
}

.nav-paginas-lateral,
.btn-menu,
.btn-fechar {
  display: none;
}

.container-section {
  width: 1280px;
  margin: 0 auto;
  padding: 0 10px;
}

.div-nav-mobile {
  display: none;
}
.btn-menu-mobile {
  display: none;
}

#menu-navegacao {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--texto-primario);
  border-bottom: 1px solid var(--line-section);
  margin-bottom: 35px;
}

.nome-escola {
  position: relative;
  display: flex;
  width: 300px;
  align-items: center;
}
.color {
  color: var(--btn-cta-primary);
}

.nome-escola h2 {
  margin-left: 60px;
}

.nome-escola img {
  position: absolute;
  width: 60px;
}

.navegacao {
  display: flex;
  padding: 20px;
  font-size: 0.8rem;
}

.nav-paginas {
  color: var(--texto-primario);
  padding: 10px;
  text-decoration: none;
}
.nav-paginas.ativado{
  border-bottom: 2px solid var(--link-hover);
  color: var(--link-hover);
}


.lista-paginas {
  display: inline-block;
  text-decoration: none;
}

.nav-paginas:hover {
  color: var(--link-hover);
  border-bottom: 2px solid var(--link-hover);
  transition: all 0.3s ease-in-out;
}

#apresentacao {
  color: var(--texto-primario);
  border-bottom: 1px solid var(--line-section);
  font-size: 0.8rem;
  margin-bottom: 30px;
}

.div-apresentacao {
  width: 100%;
  overflow: hidden;
  height: 100%;
}

.apresentacao-site {
  display: inline-block;
  width: 50%;
  text-align: justify;
  font-size: 0.8rem;
}

.apresentacao-site p {
  margin-bottom: 12px;
  color: var(--texto-secundario);
}

.imagem-tecnologia {
  width: 50%;
  overflow: hidden;
  float: right;
}

.imagem-tecnologia img {
  width: 90%;
}

.div-apresentacao h1 {
  margin-bottom: 5px;
  font-size: 1.8rem;
}

.search-container {
  position: relative;
  justify-content: space-between;
  width: 100%;
  max-width: 700px;
  display: flex;
  align-items: center;
}

.search-icon {
  position: absolute;
  top: 35%;
  left: 14px;
  transform: translateY(-50%);
  color: #777;
  pointer-events: none;
}

.search-input {
  width: 100%;
  padding: 5px 10px 10px 35px;
  font-size: 0.9rem;
  border: 1px solid var(--text-disabled);
  border-radius: 8px;
  outline: none;
  box-sizing: border-box;
  margin-bottom: 10px;
  background: transparent;
  color: var(--texto-primario) !important;
}

.search-input:focus {
  border-color: #0066cc;
}

.btn-pesquisa {
  position: absolute;
  border: none;
  border-radius: 10px;
  padding: 6px 18px;
  background-color: var(--btn-cta-primary);
  color: var(--texto-primario);
  cursor: pointer;
  border: 1px solid transparent;
  top: 40%;
  transform: translateY(-50%);
  right: 4px;
}

.btn-pesquisa:hover {
  border: var(--btn-primario-hover);
  background-color: transparent;
  border: 1px solid var(--btn-primario-hover);
  color: var(--btn-primario-hover);
  transition: all 0.3s ease;
}

.explorar-cursos,
.como-funciona {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: var(--btn-primario-);
  color: var(--texto-primario);
  border: 1px solid transparent;
  outline: none;
  text-decoration: none;
  border-radius: 10px;
  padding: 10px 30px 10px 30px;
  transition:
    background-color 0.3 ease-in-out,
    transform 0.3s ease;
  margin-bottom: 30px;
}

.como-funciona {
  margin-left: 3%;
}

.como-funciona:hover {
  border: var(--btn-primario-hover);
  background-color: transparent;
  border: 1px solid var(--btn-primario-hover);
  color: var(--btn-primario-hover);
  transition: all 0.3s ease-in-out;
}

.explorar-cursos:hover {
  border: var(--btn-primario-hover);
  background-color: transparent;
  border: 1px solid var(--btn-primario-hover);
  color: var(--btn-primario-hover);
  transition: all 0.3s ease-in-out;
}

.material-symbols-outlined {
  font-size: 1rem;
}

#destaques {
  border-bottom: 1px solid var(--line-section);
  color: var(--texto-primario);
}

.cursos-destaques {
  display: flex;
  justify-content: space-between;
}

.todos-cursos {
  display: flex;
  font-size: 0.8rem;
  text-decoration: none;
  align-items: center;
  color: var(--btn-cta-primary);
}

.todos-cursos:hover {
  color: var(--link-hover);
}

.cursos-destaques-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.cursos-destaques-momento {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  flex-shrink: 0;
  gap: 10px;
  padding: 10px 0px;
  width: 1180px;
}

.cursos-mais-procurados {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  margin-bottom: 10px;
  border: 1px solid var(--text-disabled);
  width: 310px;
  flex-shrink: 0;
  margin-top: 10px;
  min-height: 200px;
  margin-right: 10px;
  overflow: hidden;
  background-color: var(--background-primario-1);
}

.cursos-destaques-momento::-webkit-scrollbar {
  display: none;
}

.seta {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-primario-1);
  color: var(--texto-primario);
  border: 1px solid var(--text-disabled);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 10;
  flex-shrink: 0;
}
.curso-texto h3 {
  margin: 5px 2px 0 0;
  color: var(--texto-primario);
  font-size: 0.8rem;
  padding: 5px;
}

.cursos-mais-procurados img {
  width: 310px;
  height: 110px;
}

.curso-imagem {
  display: flex;
  align-items: center;
  justify-content: center;
}

.curso-texto {
  margin: 10px 10px 10px 10px;
  color: var(--texto-secundario);
  font-size: 0.8rem;
}

.curso-texto p {
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-weight: 350;
  font-size: 0.6rem;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: auto;
  min-height: 0;
  padding: 5px;
}

.curso-info {
  display: flex;
  color: var(--texto-secundario);
  max-width: 150px;
  flex-direction: column;
  text-decoration: none;
  list-style-type: none;
  margin-bottom: 8px;
  padding: 15px;
}

.curso-info span {
  display: flex;
  float: right;
  margin-top: 1px;
  font-size: 0.7rem;
  margin-right: 2px;
}

.curso-info li {
  display: flex;
  margin-right: 35px;
  font-size: 0.6rem;
  font-weight: 350;
}

.curso-acao {
  display: flex;
  justify-content: space-between;
  color: var(--texto-primario);
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 10px;
}

.btn-matricula {
  border: 1px solid transparent;
  color: var(--texto-primario);
  background-color: var(--btn-cta-primary);
  border-radius: 5px;
  padding: 2px 5px;
  cursor: pointer;
}

.btn-matricula:hover {
  border: 1px solid var(--btn-cta-primary);
  background-color: transparent;
  color: var(--btn-cta-primary);
  transition: 0.3s ease-in-out;
}

.medias-da-escola {
  display: flex;
  align-items: center;
  border: 1px solid var(--text-disabled);
  height: 100px;
  margin-top: 15px;
  border-radius: 8px;
  background-color: var(--background-primario-1);
  margin-bottom: 10px;
}

.alunos-matriculados {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  width: 295px;
  height: 80px;
  margin-right: 5px;
  word-wrap: break-word;
}

.alunos-matriculados h3 {
  color: var(--btn-cta-primary);
  font-weight: 550;
  font-size: 1.6rem;
}

.icone-alunos span {
  color: var(--btn-cta-primary);
  float: left;
  width: 25px;
  font-size: 45px;
  margin-right: 25px;
}

.info-alunos {
  display: flex;
  flex-direction: column;
}

.alunos-matriculados p {
  color: var(--texto-secundario);
  font-size: 0.6rem;
}

.linha-vertical {
  border-left: 2px solid var(--line-section);
  height: 60px;
  display: inline-block;
  margin-right: 5px;
}

.cursos-disponiveis {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 295px;
  height: 80px;
  margin-right: 5px;
}

.icone-cursos span {
  color: var(--btn-cta-primary);
  float: left;
  width: 25px;
  font-size: 45px;
  margin-right: 25px;
}

.info-cursos h3 {
  color: var(--btn-cta-primary);
  font-weight: 550;
  font-size: 1.6rem;
}

.info-cursos p {
  color: var(--texto-secundario);
  font-size: 0.6rem;
}

.certificados {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 295px;
  height: 80px;
  margin-right: 5px;
}

.icone-certificados span {
  color: var(--btn-cta-primary);
  float: left;
  width: 25px;
  font-size: 45px;
  margin-right: 25px;
}

.info-certificados {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-certificados h3 {
  color: var(--btn-cta-primary);
  font-weight: 550;
  font-size: 1.6rem;
}

.info-certificados p {
  color: var(--texto-secundario);
  font-size: 0.6rem;
}

.avaliacao {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 295px;
  height: 80px;
}

.icone-avaliacao span {
  color: var(--btn-cta-primary);
  float: left;
  width: 25px;
  font-size: 45px;
  margin-right: 25px;
}

.info-avaliacao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-avaliacao h3 {
  color: var(--btn-cta-primary);
  font-weight: 550;
  font-size: 1.6rem;
}

.info-avaliacao p {
  color: var(--texto-secundario);
  font-size: 0.6rem;
}

footer {
  display: flex;
  height: 100%;
  width: 1280px;
  font-size: 0.7rem;
}

#footer {
  display: flex;
  color: var(--texto-primario);
  background-color: var(--background-primario-1);
  height: 100%;
  overflow: hidden;
}

.redes-sociais {
  display: flex;
  flex-direction: column;
  width: 225px;
  height: 145px;
  text-decoration: none;
  padding: 10px;
}

.redes-sociais p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.redes-sociais ul {
  margin-left: 0;
}

.logo-titulo {
  display: flex;
  align-items: center;
  gap: 8px;
  max-width: 100%;
}

.logo-titulo img {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.logo-titulo h3 {
  margin-bottom: 15px;
  margin: 0;
  font-size: 0.9rem;
  white-space: normal;
  word-break: break-word;
  max-width: 100%;
}

.redes-sociais-links {
  display: flex;
  width: 245px;
}

.lista-links {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.icones-link {
  margin-right: 25px;
}

.redes-sociais p {
  font-weight: 300;
  color: var(--texto-secundario);
  font-size: 0.7rem;
}

.navegacao-footer {
  display: flex;
  flex-direction: column;
  width: 225px;
  height: 145px;
  padding: 10px;
  margin-left: 105px;
}

ul {
  list-style-type: none;
}

.nav-footer {
  margin-top: 2px;
}

.links-navegacao {
  font-size: 0.6rem;
  color: var(--texto-secundario);
  text-decoration: none;
}
.suporte {
  display: flex;
  flex-direction: column;
  width: 225px;
  height: 145px;
  padding: 10px;
  margin-left: 105px;
}

.suporte-links-a {
  font-size: 0.6rem;
  color: var(--texto-secundario);
  text-decoration: none;
}

.suporte-links {
  margin-top: 10px;
}

.contato {
  display: flex;
  flex-direction: column;
  width: 210px;
  height: 145px;
  padding: 10px;
  margin-left: 155px;
}

.links-contato {
  font-size: 0.6rem;
  color: var(--texto-secundario);
  text-decoration: none;
}

.contato-links {
  display: flex;
  margin-top: 15px;
}

#footer a:hover {
  color: var(--link-hover);
}

@media screen and (min-width: 800px) and (max-width: 999px) {
  .container-section {
    width: 850px;
    margin: 0 auto;
    padding: 0 10px;

    /* background-color: red; */
  }
  .nav-paginas-lateral,
  .btn-menu,
  .btn-fechar {
    display: none;
  }
  .container-section p {
    font-size: 0.7rem;
  }
  .container-section button {
    padding: 8px;
  }
  .mensagem-de-erro {
    display: flex;
    color: var(--texto-secundario);
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    margin-left: 25%;
  }
  #menu-navegacao {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.7rem;
  }
  .navegacao {
    display: flex;
    padding: 10px;
    font-size: 0.7rem;
  }
  .nav-paginas {
    padding: 10px;
  }
  .nav-paginas:hover {
    color: var(--link-hover);
    border-bottom: 2px solid var(--link-hover);
    transition: all 0.3s ease-in-out;
  }

  .apresentacao-site {
    display: inline-block;
    width: 45%;
    font-size: 0.6rem;
  }

  .explorar-cursos,
  .como-funciona {
    padding: 10px 20px 10px 20px;
  }

  .cursos-destaques-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .cursos-destaques-momento {
    /* width: 820px !important; */
    flex: 1;
    min-width: 0;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    /* flex-shrink: 0; */
    gap: 10px;
    padding: 10px 0px;
  }
  .seta {
    background-color: var(--background-primario-1);
    color: var(--texto-primario);
    border: 1px solid var(--text-disabled);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 10;
    flex-shrink: 0;
  }

  #footer {
    overflow: hidden;
    height: 140px;
  }
  .navegacao-footer,
  .suporte,
  .contato {
    margin-left: 0px;
  }
  
}

@media screen and (max-width: 600px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    overflow: hidden;
    font-size: 0.7rem;
  }

  .container-section {
    width: 375px !important;
    margin: 0 auto;
    padding: 0 10px;
  }
  .navegacao {
    display: none;
    padding: 5px;
    /* font-size: 0.8rem; */
  }
  .navegacao-lateral {
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100vh;
    background-color: var(--background-primario-1);
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
    padding: 60px 20px 20px;
    opacity: 90%;
  }
  .navegacao-lateral.ativo {
    transform: translateX(0);
  }

  .nav-paginas-lateral:hover {
    color: var(--link-hover);
  }
  .navegacao-lateral ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .lista-paginas {
    border-bottom: 1px solid var(--line-section);
  }
  .nav-paginas-lateral {
    display: block;
    padding: 10px 0;
    color: var(--texto-primario);
    text-decoration: none;
  }
  .btn-fechar {
    position: absolute;
    right: 0 auto;
    background: none;
    border: none;
    color: var(--texto-primario);
    cursor: pointer;
    display: flex;
  }

  .btn-menu {
    position: relative;
    background: none;
    border: none;
    color: var(--texto-primario);
    font-size: 2.9rem !important;
    cursor: pointer;
    z-index: 1001;
    display: flex;
    border: none;
    top: 3%;
    right: 20px;
    width: 40px;
    height: 40px;
    flex-direction: column;
    justify-content: space-between;
  }

  .btn-menu span {
    font-size: 1.5rem !important;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.363);
    opacity: 40%;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
    z-index: 999;
  }

  .overlay.ativo {
    opacity: 1;
    visibility: visible;
  }

  #apresentacao {
    font-size: 0.6rem;
    width: 360px;
    overflow: hidden;
    background-size: cover;
  }
  #apresentacao::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 0;

    background-image:
      linear-gradient(rgba(0, 0, 0, 0.575), rgba(0, 0, 0, 0.493)),
      url("/images/background-image-computer.png");
    background-size: cover;
    background-position: center;

    -webkit-mask-image:
      linear-gradient(
        to bottom,
        transparent 0%,
        black 15%,
        black 85%,
        transparent 100%
      ),
      linear-gradient(
        to right,
        transparent 0%,
        black 15%,
        black 85%,
        transparent 100%
      );
    -webkit-mask-composite: source-in;
    mask-image:
      linear-gradient(
        to bottom,
        transparent 0%,
        black 15%,
        black 85%,
        transparent 100%
      ),
      linear-gradient(
        to right,
        transparent 0%,
        black 15%,
        black 85%,
        transparent 100%
      );
    mask-composite: intersect;
  }

  .div-apresentacao {
    width: 100%;
    display: flex;
    overflow: hidden;
    z-index: 1;
    position: relative;
  }

  .apresentacao-site {
    display: inline-block;
    width: 100%;
  }
  .apresentacao-site h1 {
    font-size: 1rem;
  }

  .apresentacao-site p {
    font-size: 0.5rem;
  }

  .search-container {
    position: relative;
    justify-content: space-between;
    width: 100%;
    max-width: 345px;
    display: flex;
    align-items: center;
  }

  .search-input {
    width: 100%;
    padding: 12px 10px 12px 28px;
    border: 1px solid var(--text-disabled);
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
    margin-bottom: 8px;
    background: transparent;
    height: 20px;
    color: var(--texto-primario) !important;
    font-size: 0.6rem;
  }
  .search-input::placeholder {
    font-size: 0.5rem !important;
    color: var(--texto-secundario);
  }
  .search-input:focus {
    border-color: #0066cc;
  }

  .search-icon {
    position: absolute;
    top: 35%;
    left: 5px;
    transform: translateY(-50%);
    color: var(--texto-secundario);
    pointer-events: none;
  }
  .btn-pesquisa {
    position: absolute;
    border-radius: 3px;
    padding: 3px 10px !important;
    font-size: 0.5rem !important;
    background-color: var(--btn-cta-primary);
    color: var(--texto-primario);
    cursor: pointer;
    border: 1px solid transparent;
    top: 38%;
    transform: translateY(-50%);
    right: 2px;
  }

  .explorar-cursos,
  .como-funciona {
    display: inline-flex;
    padding: 2px 10px;
    border-radius: 3px;
    text-align: center;
    font-size: 0.7rem;
    margin-left: 25px;
    margin-bottom: 20px;
  }
  .material-symbols-outlined {
    font-size: 0.6rem !important;
  }

  .imagem-tecnologia {
    display: none;
  }
  .imagem-tecnologia img {
    width: 90%;
  }

  .cursos-destaques-wrapper {
    height: 250px;
  }
  .cursos-destaques-momento {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    flex-shrink: 0;
    gap: 10px;
    padding: 10px 0px;
    width: 300px;
    height: 250px;
  }
  .imagem-curso {
    width: 100% !important;
    height: 80px !important;
  }
  .imagem-curso img {
    width: 100% !important;
  }
 
  .container-imagem{
    margin-bottom: 0;
  }
  .curso-texto{
    margin: 0 0 10px 0;
  }

  #destaques {
    margin: 0 auto;

    width: 375px;
  }
  .cursos-destaques {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    position: relative;
  }
  .cursos-destaques h2 {
    font-size: 0.8rem !important;
  }
  .todos-cursos {
    font-size: 0.6rem !important;
  }
  .cursos-mais-procurados {
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    width: 200px;
    margin-right: 5px;
    margin-bottom: 5px !important;
    max-height: 390px;
  }
  .curso-texto p {
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-weight: 350;
    font-size: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: auto;
    min-height: 0;
  }

  .seta {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    font-size: 0.7rem;
  }
  .curso-texto h3 {
    color: var(--texto-primario);
    font-size: 0.5rem;
    margin-top: 0 !important;
  }

  .btn-matricula {
    padding: 2px;
    font-size: 0.5rem;
  }

  .info-cursos {
    font-size: 0.5rem !important;
  }

  .curso-info{
    padding: 0 0 0 10px;
    display: flex;
    
  }

  .info-cursos span {
    width: 5px;
    font-size: 0.4rem !important;
    float: left;
    
  }
  .curso-info li{
    display: inline-block;
  }
  .medias-da-escola {
    display: flex;
    align-items: center;
    z-index: 1;
    position: relative;
  }

  .medias-da-escola h3 {
    font-size: 0.8rem !important;
  }

  .alunos-matriculados {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    width: 100px;
    height: 60px;
    margin-right: 5px;
    text-align: center;
  }
  .icone-alunos {
    width: 25px;
  }

  .icone-alunos span {
    font-size: 1.5rem !important;
  }

  .info-alunos {
    display: flex;
    flex-direction: column;
  }

  .info-alunos p {
    font-size: 0.5rem !important;
  }

  .cursos-disponiveis {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    width: 100px;
    height: 60px;
    margin-right: 5px;
    text-align: center;
  }

  .icone-cursos span {
    font-size: 1rem !important;
  }
  .info-cursos {
    display: flex;
    flex-direction: column;
  }
  .info-cursos p {
    font-size: 0.5rem !important;
  }
  .icone-cursos {
    width: 25px;
  }
  .certificados {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    width: 100px;
    height: 60px;
    margin-right: 5px;
    text-align: center;
  }

  .icone-certificados span {
    font-size: 1rem !important;
  }
  .info-certificados {
    display: flex;
    flex-direction: column;
  }
  .info-certificados p {
    font-size: 0.5rem !important;
  }
  .icone-certificados {
    width: 25px;
  }
  .avaliacao {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    width: 100px;
    height: 60px;
    margin-right: 5px;
    text-align: center;
  }

  .icone-avaliacao span {
    font-size: 1rem !important;
  }
  .info-avaliacao {
    display: flex;
    flex-direction: column;
  }
  .info-avaliacao p {
    font-size: 0.5rem !important;
  }
  .icone-avaliacao {
    width: 25px;
  }

  footer {
    overflow: hidden;
    display: flex;
    width: 375px;
    height: 140px !important;
    z-index: 1;
    position: relative;
  }
  #footer {
    display: flex;
    height: 140px;
  }
  .redes-sociais {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 140px;
    text-decoration: none;
    padding: 5px;
    /* font-size: 0.6rem !important; */
  }

  .redes-sociais h3 {
    font-size: 0.5rem;
  }
  .logo-titulo img {
    margin-left: 0px;
    width: 15px !important;
    height: 20px !important;
  }
  .redes-sociais p {
    font-size: 0.4rem !important;
  }
  .redes-sociais-links {
    display: flex;
    width: 100px;
  }
  .icones-link {
    margin-right: 0.5px;
  }
  .lista-links img {
    width: 15px !important;
    height: 15px !important;
  }

  .navegacao-footer {
    width: 100px;
    margin: 0 !important;
    padding: 5px 20px 0 0;
    /* font-size: 0.rem !important; */
  }

  .links-navegacao {
    font-size: 0.4rem !important;
  }
  .nav-footer {
    margin: 0px !important;
  }
  .navegacao-footer h4 {
    font-size: 0.5rem !important;
  }
  .suporte {
    width: 100px;
    margin: 0 !important;
    padding: 5px 20px 0 0;
  }
  .suporte-links-a {
    font-size: 0.4rem !important;
  }
  .suporte-links {
    margin: 0px !important;
  }
  .suporte h4 {
    font-size: 0.5rem !important;
  }
  .contato {
    width: 100px;
    margin: 0 !important;
    padding: 5px 20px 0 0;
  }
  .contato h4 {
    font-size: 0.5rem !important;
  }
  .links-contato {
    font-size: 0.4rem !important;
  }
  .contato-links {
    margin-top: 5px !important;
  }
  .mensagem-de-erro {
    display: flex;
    color: var(--texto-secundario);
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    margin-left: 5%;
  }
}

@media screen and (min-width: 600px) and (max-width: 800px) {
  #footer {
    display: flex;
    height: 180px;
    overflow: hidden;
    width: 100%;
  }
  .mensagem-de-erro {
    display: flex;
    color: var(--texto-secundario);
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    margin-left: 20%;
  }

  footer {
    overflow: hidden;
    display: flex;
    width: px;
    height: 140px !important;
    z-index: 1;
    position: relative;
  }

  .nome-escola {
    padding: 0px;
  }

  .nav-paginas {
    font-size: 0.6rem;
    padding: 2px !important;
    cursor: pointer !important;
  }
  .navegacao {
    padding: 0px;
    cursor: pointer !important;
  }
  .lista-paginas {
    margin-left: 0;
  }
  .nav-paginas:hover {
    color: var(--link-hover);
    border-bottom: 2px solid var(--link-hover);
    transition: all 0.3s ease-in-out;
  }

  .container-section {
    width: 700px !important;
    margin: 0 auto !important;
    padding: 0 10px !important;
  }
  #apresentacao {
    font-size: 0.6rem;
    width: 680px;
    height: 350px;
  }

  #apresentacao::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 0;
    height: 100%;

    background-image:
      linear-gradient(rgba(0, 0, 0, 0.575), rgba(0, 0, 0, 0.493)),
      url("/images/background-image-computer.png");
    background-size: cover;
    background-position: center;

    -webkit-mask-image:
      linear-gradient(
        to bottom,
        transparent 0%,
        black 15%,
        black 85%,
        transparent 100%
      ),
      linear-gradient(
        to right,
        transparent 0%,
        black 15%,
        black 85%,
        transparent 100%
      );
    -webkit-mask-composite: source-in;
    mask-image:
      linear-gradient(
        to bottom,
        transparent 0%,
        black 15%,
        black 85%,
        transparent 100%
      ),
      linear-gradient(
        to right,
        transparent 0%,
        black 15%,
        black 85%,
        transparent 100%
      );
    mask-composite: intersect;
  }
  .apresentacao-site {
    width: 100%;
    margin-top: 40px;
    height: 310px;
    z-index: 1;
    position: relative;
  }
  .apresentacao-site p {
    margin-bottom: 25px;
    margin-top: 25px;
  }
  .explorar-cursos,
  .como-funciona {
    margin-left: 90px;
  }
  .imagem-tecnologia {
    display: none;
  }
  .cursos-destaques {
    z-index: 1;
    position: relative;
  }
  .cursos-destaques-wrapper {
    width: 680px;
  }
  .cursos-destaques-momento {
    width: 600px;
  }
  .medias-da-escola {
    position: relative;
  }
  .alunos-matriculados h3,
  .cursos-disponiveis h3,
  .certificados h3,
  .avaliacao h3 {
    font-size: 1.2rem !important;
  }
  .alunos-matriculados span,
  .cursos-disponiveis span,
  .certificados span,
  .avaliacao span {
    font-size: 2rem !important;
  }
  .alunos-matriculados p,
  .cursos-disponiveis p,
  .certificados p,
  .avaliacao p {
    font-size: 0.5rem;
  }

  #footer {
    z-index: 1;
    position: relative;
  }
  .navegacao-footer,
  .suporte,
  .contato {
    margin-left: 0px;
    width: 160px;
  }
}
@media screen and (min-width: 1026px) {
  .container-section {
    width: 950px;
  }
  .cursos-destaques-momento {
    width: 850px;
  }

  .navegacao-footer,
  .contato,
  .suporte {
    margin-left: 20px;
  }
  .mensagem-de-erro {
    display: flex;
    color: var(--texto-secundario);
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    margin-left: 20%;
  }
}
